/* normal font */
@font-face
{
font-family: mono;
src: url('TRY_DriveMono-Regular.ttf');
font-weight: 100;
}
/* bold font */
@font-face
{
font-family: mono;
src: url('TRY_DriveMono-Extrabold.ttf');
font-weight: bold;
}
/* italic font */
@font-face
{
font-family: mono;
src: url('TRY_DriveMono-Italic.ttf');
font-style: italic;
}
html body{
    font-family: mono,'microsoft Yahei',sans-serif;
    margin: 0;
    background: #fff;
    font-weight: 100;
}

.nav{
    background: #fff;
    padding: 0 32px;
    height: 96px;
}
.nav-title{
    font-weight: 900;
    font-size: 24px;
    height: 96px;
    margin-left: 40px;
    line-height: 96px;
    float: left;
    color: #6A647D;
    text-decoration: none;
}
.nav-title p{
    margin: 0;
    float: left;
    color: #34ffbf;
}
.nav-button{
    color: #bbb9c7;
    font-weight:100 ;
    font-size: 20px;
    height: 96px;
    margin-right: 64px;
    text-decoration: none;
    text-align: center;
    line-height: 96px;
    transition: line-height 0.4s;
    -moz-transition: line-height 0.4s;
    -webkit-transition: line-height 0.4s;
    list-style-type: none;
    float: right;
}
.nav-select{
    color:#6A647D;
}
.nav-button:hover{
    line-height: 80px;
}
.content{
    height: 600px;
}
.content-title{
    color: #6A647D;
    width: 600px;
    height: 200px;
    margin: 0 auto;
    padding-top: 200px;
    font-size: 80px;
    font-weight: 100;
    text-align: center;

}
.content-list{
    margin: 0 auto;
    width: 464px;
    height: 128px;
}
.content-icon{
    height: 64px;
    width: 64px;
    float: left;
    margin-left: 24px;
}
.bodymovin{
    transform: scale(0.8);
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.bodymovin:hover{
    transform: scale(1);
}