body{
    margin: 0;
    width: 375pt;
    height: 812pt;
    background-color: black;
}
.controlbox {
  height: 800pt;
  width: 100%;
  position: fixed;
  bottom: 0;
  vertical-align: bottom;
}

.slidecontainer{
  height: 40pt;
  width: 80%;
}

#wave_count{
  margin: 40pt auto;
}
#wave_hue{
  margin: 160pt auto;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 64pt;
    border-radius: 12pt;  
    background: #ffffff11;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 48pt;
    height: 48pt;
    border-radius: 10pt; 
    background: #fff;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
  }